.side-bar{
    position: fixed;
    left: 0px;
    background-color: white;
    width: 75px;
    bottom: 0px;
    top: 55px;
    z-index: 101;
}

.side-bar-item {height: 80px;
    text-align: center;
    font-family: Roboto,Arial;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-icon {
    margin-bottom: 4px;
    height: 24px;
    width: 100%;
}

.side-bar-item:hover{
    background-color: rgb(241, 241, 241);
}